* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 5rem; /* 175% */
    min-width: 118px;
    border-radius: 99.9rem;
    background: #171100;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 6.8rem; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 4.8rem; /* 126.316% */
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.word-break-all {
    word-break: break-all;
}
/* header */
.header {
    background: #fffcf4;
    top: -2.8rem;
}

.header.fixed {
    position: sticky;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 3.6rem 0 0.8rem;
}

.nav {
    margin-left: auto;
    margin-right: 4.9rem;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    /* font-weight: 600; */
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
}

.nav li.active a::after {
    bottom: 6px;
    left: 21px;
    position: absolute;
    display: block;
    content: "";
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 14.4rem;
}

/* Hero */
.hero {
    padding: 5.6rem 0 6.5rem;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48.7%;
    position: relative;
}

.hero .media-block .img {
    width: 47rem;
    height: 68.5rem;
    object-fit: cover;
    border-radius: 2rem;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 4.8rem;
    border-radius: 1.2rem;
    width: 27rem;
    padding: 2.4rem;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .info {
    margin-left: 1.6rem;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero-summary .item + .item {
    margin-top: 2.2rem;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 6.4rem 0 0 13rem;
}

.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    margin-top: 2.2rem;
    line-height: 3rem; /* 166.667% */
}

.hero .content-block .cta-group {
    margin: 3.8rem 0 4.8rem;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 18rem;
    background: var(--primary-color);
    line-height: 6.4rem;
}

.hero .watch-video {
    border: none;
    display: flex;
    margin-left: 2.8rem;
    align-items: center;
    background: #fffcf4;
    cursor: pointer;
}

.watch-video span {
    color: #171100;
    font-size: 1.8rem;
    margin-left: 1.4rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .stats strong {
    padding: 0 0.8rem 0 2.8rem;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; /* 122.727% */
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

/* Popular */
.popular {
    padding: 6.5rem 0;
    margin-top: 13.5rem;
}

.popular-top .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    margin-top: 1.6rem;
    width: 45.8rem;
    line-height: 3rem; /* 166.667% */
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .controls {
    display: flex;
    gap: 1.8rem;
}

.popular-top .control-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    /* (khi thêm display: flex nó trở thành block nên nó xuống hàng) */
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    cursor: pointer;
    background: var(--primary-color);
}

.popular .course-list {
    margin-top: 5.5rem;
    gap: 3rem;
    display: flex;
}

.popular .course-item {
    flex: 1;
    border-radius: 1.2rem;
    border: 1px solid #e2dfda;
    background: #fff;
    /* Để các phần tử có kích thước bằng nhau */
}

.popular .course-item .thumb {
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    height: 27.8rem;
    object-fit: cover;
    width: 100%;
    margin: -1px;
    width: calc(100% + 0.2rem);
}

.popular .course-item .info {
    padding: 1.6rem 2.2rem 2.2rem;
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
    padding-right: 1rem;
}

.popular .rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
    margin-left: 0.9rem;
}

.popular .course-item .desc {
    margin-top: 0.6rem;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}
.popular .course-item .foot {
    margin-top: 1.2rem;
}

.popular .course-item .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.2);
}

/* Feedback */

.feedback {
    margin-top: 13.5rem;
    padding: 9.6rem 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    color: #f7f7f7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 0.4rem;
    color: #bfbcb2;
    font-family: var(--font-heading);
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
    margin-top: 2.8rem;
}

.feedback-item .dot {
    margin-right: 0.6rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #FFB900;
    cursor: default;
}
.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 0.3rem;
    color: #fff;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 153.846% */
}
